@import url('https://fonts.googleapis.com/css?family=Montserrat');

h3 {
    margin: 10px 0;
  }
  
  h6 {
    margin: 5px 0;
    text-transform: uppercase;
  }
  
  p {
    font-size: 14px;
    line-height: 21px;
  }